<html ng-app="questionApp">
<head>
  <title>Questions</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js"></script>
  <script type="text/javascript" src="js/app.js"></script><link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css" />
</head>
<body>
  <div class="container">
    <div class="row">
      <div ng-controller="QuestionController">
        <form novalidate name="questionForm" class="form-horizontal">
          <div ng-repeat="question in current_chunk">
            <div class="form-group">
              <label id="question.name">{{question.name}}</label>
              <input class="form-control" for="question.name" ng-model="question.answer" ng-required="question.required">
              </input>
            </div>
          </div>
        </form>
        <button type="submit" class="btn btn-primary" ng-click="update(questions)">Submit
        </button>
        <button type="button" class="btn btn-default" ng-click="reset(questions)">Reset</button>
        <pre>answers = {{answers | json}}</pre>
      </div>
    </div>
  </div>
</body>
</html>
